<configuration>
    <property name="FLUENT_BIT_HOST" value="${FLUENT_BIT_HOST:-127.0.0.1}"/>
    <property name="FLUENT_BIT_PORT" value="${FLUENT_BIT_PORT:-24224}"/>
    <property name="SERVICE_NAME" value="${SERVICE_NAME:-stock-track-service}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <tag>stock-track-service-tag</tag>
        <remoteHost>localhost</remoteHost>
        <port>24224</port>
    </appender>

    <root level="info">
        <appender-ref ref="FLUENT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>